@model IEnumerable<Shop.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}
    @foreach (var order in Model)
    {
<table class="table table-bordered">
    <tr>
    <tr class="active">

        <th>Номер заказа :@order.Number</th>
        <th>Общая сумма заказа :@order.TotalSum руб.</th>
        </tr>
    <tr class="success">
        <td>Название товара</td>
        <td>Цена за штуку</td>
        <td>Количество</td>
        <td>Цена с учётом количества</td>
    </tr>
    @foreach (var item in order.OrderItems)
    {
        <tr class="info">
            <td>@item.Name</td>
            <td>@item.Price руб.</td>
            <td>@item.Count</td>
            <td>@item.TotalSum руб.</td>
        </tr>
    }
</table>
    }



