@model Shop.ViewModels.ProductViewModel

<div id="answer">
    Выберите заказ:
    <select name="id" id="orderid">
        <option value=null name="id" selected>Новый заказ</option>
        @foreach (var orders in Model.Carts)
        {

            <option value=@orders.CartId name="id">@orders.Number</option>
        }
    </select>
    <button onclick="addtocart(@Model.ProductId)" class="btn btn-success">Подтвердить</button>
</div>

