@model IEnumerable<Shop.ViewModels.CartViewModel>
@{
    ViewData["Title"] = "Распечатка чека";
}

<h2 class="text-center">Чек</h2>
<div>
    <p class="text-center">Ваш заказ был успешно оформлен</p>
    @foreach (var cart in Model)
    {
        <p class="text-center">В нём содержатся товары на сумму:@cart.TotalSum руб.</p>
        <p class="text-center">Товары</p>
        @foreach(var item in cart.items)
        {
            <p class="text-center">@item.Name Цена:@item.Price руб. Цена с учётом количества:<span class="text-right"> @item.Count x @item.TotalSum</span></p>
        }
    }


    <p class="text-center">Спасибо за покупку</p>
</div>

