@model IEnumerable<Shop.Models.Product>
@{
    ViewData["Title"] = "Магазин";
}

<form asp-action="AddtoCart"
      data-ajax="true"
      data-ajax-mode="replace"
      data-ajax-update="#results"
      data-ajax-method="post">
    <table class="table table-bordered">
        <tr>
            <td>Название товара</td>
            <td>Цена</td>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Name</td>
                <td>@item.Price руб.</td>
                <td><button type="submit" name="id" value=@item.Id class="btn btn-primary">Добавить в корзину</button></td>
            </tr>
        }
            <tr>
                <td><a href="/order/" class="btn btn-primary">Посмотреть содержимое корзины</a></td>
                <td><a href="/order/history" class="btn btn-primary">Посмотреть историю заказов</a></td>
            </tr>
    </table>
</form>

<div id="results"></div>

<div style="display:none;">
    <div class="box-modal" id="modalWindow">
        <div class="box-modal_close arcticmodal-close">закрыть</div>
        Ваш товар был добавлен в корзину<br />
        <a href="/order/" class="btn btn-primary">Посмотреть содержимое корзины</a><br/>
    </div>
</div>

<environment>
<script src="~/Scripts/CartFunctions.js"></script>
</environment>