@model IEnumerable<Shop.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<form asp-action="AddtoCart" method="post">
    <table class="table table-bordered">
        <tr>
            <td>Название товара</td>
            <td>Цена</td>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Name</td>
                <td>@item.Price руб.</td>
                @*<td><a href="/test/addtocart/@(item.Id)" class="btn btn-primary" id=@item.Id>Добавить в корзину</a></td>*@
                <td><button type="submit" name="id" value=@item.Id class="btn btn-primary">Добавить в корзину</button></td>
            </tr>
        }
        <tr>
            <td><a href="/test/cart/" class="btn btn-primary">Посмотреть содержимое одной корзины</a></td>
            <td><a href="/order/" class="btn btn-primary">Посмотреть содержимое всех корзин</a></td>
        </tr>
    </table>
</form>
<h2>Index</h2>

