@model IEnumerable<Shop.ViewModels.CartViewModel>

<div id="results">
    @foreach (var cart in Model)
    {
        <table class="table table-bordered">
            <tr><th>Общая цена корзины:@cart.TotalSum руб.</th></tr>
            <tr class="success">
                <td>Название товара</td>
                <td>Цена за штуку</td>
                <td>Количество</td>
                <td>Цена с учётом количества</td>
            </tr>

            @foreach (var item in cart.items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price руб.</td>
                    <td>@item.Count</td>
                    <td>@item.TotalSum руб.</td>
                </tr>
            }
        </table>
<form asp-action="Check" method="Post">
    <input type="text" name="id" value=@cart.CartId hidden="hidden" />
    <button type="submit">Оформить заказ</button>
</form>
        }
</div>
<script src="~/js/site.js" asp-append-version="true"></script>